.formContainer{
  width:25%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 70px;
  box-shadow:0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.formContainer p{text-align: center;margin-bottom:2px;font-weight: bold;}
.formContainer input[type="text"]    {width:98%;text-align: center;padding-top:8px;padding-bottom: 8px;}
.formContainer input[type="password"]{width:98%;text-align: center;padding-top:8px;padding-bottom: 8px;margin-bottom: 20px;}
.invalidFeedback{font-weight: bold;color:red;text-align: center;margin-bottom:3px;}

.formContainer button{
    width:100%;
    padding-top:8px;
    padding-bottom: 8px;
    font-family: "ModernFont";
    font-weight: bold;
    font-size:16px;
    text-align: center;
    color:#FF8C00;
    background-color: #2F4F4F;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    margin-bottom: 3px;
}

@media only screen and (max-width: 800px) {
    .formContainer{width:60%;}
}
