<!-- {{ LOGIN_CREDENTIALS | json }} -->
<div class="formContainer">
<form [formGroup]="LOGIN_FORM" (ngSubmit)="onSubmit()">

 <p>Name</p>
 <input type="text" formControlName="usernameControl"/>
 <div *ngIf="SUBMITTED && LOGIN_FORM.controls['usernameControl'].errors" class="invalidFeedback">
   <div *ngIf="LOGIN_FORM.controls['usernameControl'].errors['required'] ">Username is required</div>
   <div *ngIf="LOGIN_FORM.controls['usernameControl'].errors['minlength']">Username must be at least 3 characters</div>
   <div *ngIf="LOGIN_FORM.controls['usernameControl'].errors['regexMismatch']">Username must contains at least one number</div>
   <div *ngIf="LOGIN_FORM.controls['usernameControl'].errors['maxlength']">Username must not exceed 10 characters</div>
 </div>

 <p>Password</p>
 <input type="password" formControlName="passwordControl"/>
 <div *ngIf="SUBMITTED && LOGIN_FORM.controls['passwordControl'].errors" class="invalidFeedback">
   <div *ngIf="LOGIN_FORM.controls['passwordControl'].errors['required'] ">Password is required</div>
   <div *ngIf="LOGIN_FORM.controls['passwordControl'].errors['minlength']">Password must be at least 3 characters</div>
   <div *ngIf="LOGIN_FORM.controls['passwordControl'].errors['maxlength']">Password must not exceed 10 characters</div>
 </div>
 <button type="submit">Login</button>
 <button type="button" (click)="onReset()">Reset</button>
</form>
</div>
